body {
    font-family: sans-serif;
    
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 250px;
    border: 2px solid brown;
    padding: 10px;
    background-color: black;
}

strong {
    color: red;
}

.container {
                max-width: 800px;
                color: #2b2424;
                margin: 0 auto;
                font-family: sans-serif;
                padding: 50px;
                padding-left: 10px;
                padding-right: 10px;
}

.date {
    color: green;
}


#counter {
    background-color: green;
    color: white;
    margin: 5px;
    font-size: 18px;
    border-radius: 10px;
    border-color: orangered;
    padding: 5px;
}



#submit-btn {
    background-color: dodgerblue;
    color: white;
    margin: 5px;
    font-size: 18px;
    border-radius: 10px;
    border-color: orangered;
    padding: 5px;
}

#name {
    background-color: antiquewhite;
    padding: 6px;
    border-color: chocolate;
    
}

#counter:hover
{
    background-color:blue;
}

#submit-btn:hover {
    background-color: red;
}
