body {
    font-family: sans-serif;
    
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

strong {
    color: red;
}

.container {
                max-width: 800px;
                color: #2b2424;
                margin: 0 auto;
                font-family: sans-serif;
                padding: 50px;
                padding-left: 10px;
                padding-right: 10px;
}

.date {
    color: green;
}
